@charset "UTF-8";
/*========= base ===========*/
html {
  margin: 0;
  padding: 0;
  scroll-padding-top: 60px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', "游ゴシック", "Yu Gothic", YuGothic, "游ゴシック体", sans-serif;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

ul, li, dl, dt, dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

/*========= hiraku ===========*/
.offcanvas-right .hiraku-menu {
  text-align: center;
  padding-top: 197px;
}

.offcanvas-right .hiraku-menu li {
  margin-bottom: 20px;
}

.offcanvas-right .hiraku-menu li .hiraku-menu-item {
  color: #3E3E3E;
  font-size: 18px;
}

/*========= header ===========*/
.header-section {
  background-color: rgba(255, 255, 255, 0.2);
  width: 100%;
  position: absolute;
  z-index: 2;
}

.header-section .inner {
  height: 80px;
  line-height: 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .header-section .inner {
    height: 68px;
    line-height: 68px;
  }
}

.header-section .inner .logo {
  display: none;
}

@media screen and (max-width: 767px) {
  .header-section .inner .logo {
    display: block;
    height: 68px;
    margin-left: 16px;
  }
}

.header-section .inner .logo a img {
  margin-top: 21px;
}

@media screen and (max-width: 767px) {
  .header-section .inner .nav-bar {
    display: none;
  }
}

.header-section .inner .nav-bar .nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-section .inner .nav-bar .nav-items li {
  margin-right: 28px;
}

.header-section .inner .nav-bar .nav-items li:last-child {
  margin: 0;
}

.header-section .inner .nav-bar .nav-items a {
  color: #3E3E3E;
  font-size: 16px;
  padding: 0 6px 3px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header-section .inner .nav-bar .nav-items a:hover {
  border-bottom: solid 1.5px #3E3E3E;
}

/*========= main visual ===========*/
.mainvisual-section {
  height: 648px;
  position: relative;
}

.mainvisual-section img {
  width: 100%;
  height: 648px;
  -o-object-fit: cover;
     object-fit: cover;
}

.mainvisual-section .mainvisual-text {
  position: absolute;
  top: 260px;
  left: 54.5%;
}

.mainvisual-section h2 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 40px;
}

.mainvisual-section h3 {
  font-size: 18px;
  margin-bottom: 40px;
  padding-right: 109px;
}

.mainvisual-section a {
  background-color: #FFAA3B;
  color: #FFFFFF;
  padding: 14px 48px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  -webkit-box-shadow: 0px 3px 5px #3E3E3E33;
          box-shadow: 0px 3px 5px #3E3E3E33;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.mainvisual-section a:hover {
  opacity: 0.8;
}

/*========= news ===========*/
.news-section {
  background-color: #F3F3F3;
  padding: 130px 0;
}

.news-section .news-contents {
  width: 86.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  background-color: #FFFFFF;
  height: 655px;
  -webkit-box-shadow: 0px 5px 12px #3E3E3E33;
          box-shadow: 0px 5px 12px #3E3E3E33;
  padding: 60px 50px 40px;
}

.news-section .news-contents h3 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 60px;
}

.news-section .news-contents .news-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  border-top: solid 2px #F3F3F3;
  padding: 37px 80px 37px 9.5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.news-section .news-contents .news-content:hover {
  background-color: #ECF0FF;
}

.news-section .news-contents .news-content:after {
  content: "\f054";
  font-family: "Font Awesome 5 Free";
  position: absolute;
  font-weight: 600;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 6px;
  font-size: 26px;
}

.news-section .news-contents .news-content time {
  font-size: 18px;
  color: #3E3E3E;
  white-space: nowrap;
  line-height: 30px;
  margin-right: 60px;
}

.news-section .news-contents .news-content .label {
  border-radius: 50px;
  border: 2px solid #3B69FF;
  background-color: #FFFFFF;
  text-align: center;
  height: 28px;
  margin-right: 60px;
  color: #3E3E3E;
  font-size: 14px;
  width: 125px;
  line-height: 28px;
  white-space: nowrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.news-section .news-contents .news-content .news-title {
  font-size: 18px;
  color: #3E3E3E;
  width: 65%;
}

.news-section .news-contents .news-content-last {
  margin-bottom: 40px;
  border-bottom: solid 1px #F3F3F3;
}

.news-section .news-contents .more {
  text-align: center;
}

.news-section .news-contents .more a {
  display: inline-block;
  color: #3E3E3E;
  font-size: 20px;
  font-weight: bold;
  height: 64px;
  width: 248px;
  letter-spacing: 4px;
  line-height: 64px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #707070;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.news-section .news-contents .more a:hover {
  color: #FFFFFF;
  background-color: #3E3E3E;
}

/*========= service ===========*/
.service-section {
  background-color: #F3F3F3;
  height: 525px;
  position: relative;
}

.service-section .service-cover {
  height: 400px;
  background-color: #3E3E3E;
}

.service-section .service-cover h3 {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: #FFF;
  padding-top: 80px;
}

.service-section .service-contents {
  width: 960px;
  margin: 0 auto;
  background-color: #FFFFFF;
  height: 321px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 5px 12px #3E3E3E33;
          box-shadow: 0px 5px 12px #3E3E3E33;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 60px 48px 56px;
}

.service-section .service-contents .service-content {
  text-align: center;
  margin-right: 85.5px;
}

.service-section .service-contents .service-content:last-child {
  margin: 0;
}

.service-section .service-contents .service-content .service-image {
  height: 43px;
  width: 50px;
  margin: 0 auto;
}

.service-section .service-contents .service-content h4 {
  font-size: 20px;
  color: #3E3E3E;
  letter-spacing: 4px;
  line-height: 27px;
  margin: 27px 0 20px;
}

.service-section .service-contents .service-content p {
  font-size: 14px;
  color: #3E3E3E;
  width: 231px;
}

/*========= results ===========*/
.results-section {
  height: 962px;
  background-color: #F3F3F3;
  position: relative;
}

.results-section .results-contents {
  height: 832px;
  background-color: #3E3E3E;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 93%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 80px 0 80px 110px;
}

.results-section .results-contents h3 {
  color: #FFFFFF;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 80px;
}

.results-section .results-contents .results-sliders img {
  width: 422px;
  height: 234px;
}

.results-section .results-contents .results-text {
  padding: 20px;
  background-color: #FFFFFF;
  width: 422px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.results-section .results-contents .results-text h4 {
  font-size: 20px;
  color: #3E3E3E;
  margin-bottom: 20px;
  font-weight: bold;
}

.results-section .results-contents .results-text p {
  font-size: 16px;
  color: #3E3E3E;
}

.results-section .results-contents .results-button {
  text-align: center;
  width: 248px;
}

.results-section .results-contents .results-button a {
  display: inline-block;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 600;
  height: 64px;
  width: 248px;
  letter-spacing: 4px;
  line-height: 64px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #FFFFFF;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.results-section .results-contents .results-button a:hover {
  color: #FFFFFF;
  background-color: #3E3E3E;
}
/*# sourceMappingURL=style.css.map */