@charset "UTF-8";
@import "colors";

/*========= base ===========*/

html {
  margin: 0;
  padding:0;
  scroll-padding-top: 60px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', "游ゴシック", "Yu Gothic", YuGothic, "游ゴシック体", sans-serif;
}

h1,h2,h3,h4,h5 {
  margin: 0;
  padding: 0;
}

ul,li,dl,dt,dd {
  margin:0;
  padding:0;
  list-style: none;
}

p {
  margin: 0;
}

a { 
  text-decoration: none;
  cursor: pointer;
}

$breakpoints: (
  "sp": "screen and (max-width: 767px)",
  "tab": "screen and (max-width: 1104px)",
  "pc": "screen and (min-width: 1105px)",
);

@mixin mq($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

/*========= drawer ===========*/
.drawer-hamburger {
    margin: 0 18px 0 0;
    padding: 0 !important;
    position: fixed;
    top: 80px;
    right: 18px;
    .hamburger {
      display: none;
      position: relative;
      width: 50px;
      height: 80px;
      box-sizing: border-box;
      @include mq('sp') {
        display: block;
      }
    }
    span {
      display: block;
      width: 28px;
      height: 4px;
      background: #FFF;
      position: absolute;
      left: 4px;
      transition: all 0.5s ease;
    }
    .bar1 { 
      top: 27px;
    }
    .bar2 {
      top: 38px;
    }
    .bar3 {
      bottom: 27px;
    }
    .bar1.open {
      top: 38px;
      transform: rotate(45deg);
    }
    .bar2.open { 
      opacity: 0; 
    }
    .bar3.open {
      top: 38px;
      transform: rotate(-45deg);
    }
  }
  .drawer-nav {
    width: 200px !important;
    z-index: 3;
    li {
      border-bottom: 1px dotted #707070;
      position: relative;
    }
    a {
      text-decoration: none;
      font-size: 16px;
      transition: all 0.3s ease 0s;
      color: #707070;
      padding: 13px 0 12px 20px;
      &:hover {
        opacity: 0.6;
      }
      &:after {
        position: absolute;
        content: '\f054';
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        color: #707070;
        top: 19px;
        left: 180px;
        font-size: 12px;
      }
    }
  }
  .drawer-overlay {
    background-color: rgba(0,0,0,.8) !important;
  }
  .drawer--right.drawer-open .drawer-hamburger {
    right: 200px !important;
  }
  
  /*========= header ===========*/
  .header-section.open {
    z-index: 1;
  }
  .header-section {
    background-color: $blue;
    position: fixed;
    width: 100%;
    z-index: 3;
    .inner {
        height: 80px;
        line-height: 80px;
        .nav-bar {
        @include mq('sp') {
          display: none;
        }
        .nav-items {
            display: flex;
            justify-content: center;
            li {
                margin-right: 28px;
                &:last-child {
                    margin: 0;
                }
            }
            a {
                color: $black;
                font-size: 16px;
                padding: 0 6px 3px;
                transition: all 0.3s ease 0s;
                &:hover {
                    border-bottom: solid 1.5px $black;
                }
          }
        }
        .clicked {
          border-bottom: solid 2px $red;
        }
      }
    }
  }