@charset "UTF-8";
/*========= base ===========*/
html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', "游ゴシック", "Yu Gothic", YuGothic, "游ゴシック体", sans-serif;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

ul, li, dl, dt, dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

/*========= header ===========*/
.header-section {
  background-color: rgba(255, 255, 255, 0.2);
  width: 100%;
  position: fixed;
  z-index: 2;
}

@media screen and (max-width: 767px) {
  .header-section {
    background-color: #F4F4F5;
  }
}

.header-section .offcanvas-right .hiraku-menu {
  text-align: center;
  padding-top: 197px;
}

.header-section .offcanvas-right .hiraku-menu li {
  margin-bottom: 20px;
}

.header-section .offcanvas-right .hiraku-menu li .hiraku-menu-item {
  color: #3E3E3E;
  font-size: 18px;
}

.header-section .inner {
  height: 80px;
  line-height: 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .header-section .inner {
    height: 68px;
    line-height: 68px;
  }
}

.header-section .inner .logo {
  display: none;
}

@media screen and (max-width: 767px) {
  .header-section .inner .logo {
    display: block;
    height: 68px;
    margin-left: 16px;
  }
}

.header-section .inner .logo a img {
  margin-top: 21px;
}

@media screen and (max-width: 767px) {
  .header-section .inner .nav-bar {
    display: none;
  }
}

.header-section .inner .nav-bar .nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-section .inner .nav-bar .nav-items li {
  margin-right: 28px;
}

.header-section .inner .nav-bar .nav-items li:last-child {
  margin: 0;
}

.header-section .inner .nav-bar .nav-items a {
  color: #3E3E3E;
  font-size: 16px;
  padding: 0 6px 3px;
}

.header-section .inner .nav-bar .nav-items a:hover {
  border-bottom: solid 1.5px #747474;
}

/*========= main visual ===========*/
.mainvisual-section {
  height: 648px;
  position: relative;
  background-image: url(../images/mainvisual.jpg);
  background-position: left;
  background-size: cover;
}

@media screen and (max-width: 767px) {
  .mainvisual-section {
    height: 667px;
  }
}

.mainvisual-section .mainvisual-text {
  padding: 220px 0 0 55%;
}

@media screen and (max-width: 767px) {
  .mainvisual-section .mainvisual-text {
    padding: 206px 16px 0 16px;
  }
}

.mainvisual-section .mainvisual-text h2 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 40px;
}

@media screen and (max-width: 1104px) {
  .mainvisual-section .mainvisual-text h2 {
    font-size: 24px;
  }
}

.mainvisual-section .mainvisual-text h3 {
  font-size: 18px;
  margin-bottom: 40px;
  padding-right: 15%;
  font-weight: normal;
}

@media screen and (max-width: 1104px) {
  .mainvisual-section .mainvisual-text h3 {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .mainvisual-section .mainvisual-text h3 {
    padding: 0;
  }
}

.mainvisual-section .mainvisual-text a {
  display: block;
  width: 280px;
  height: 51px;
  line-height: 51px;
  background-color: #FFAA3B;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  text-align: center;
  -webkit-box-shadow: 0px 3px 5px #3E3E3E;
          box-shadow: 0px 3px 5px #3E3E3E;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.mainvisual-section .mainvisual-text a:hover {
  background-color: #F18900;
}

@media screen and (max-width: 1104px) {
  .mainvisual-section .mainvisual-text a {
    width: 232px;
    height: 50px;
    line-height: 50px;
  }
}

@media screen and (max-width: 767px) {
  .mainvisual-section .mainvisual-text a {
    margin: 0 auto;
  }
}

/*========= news ===========*/
.news-section {
  background-color: #F3F3F3;
  padding: 130px 0;
}

@media screen and (max-width: 767px) {
  .news-section {
    padding: 0 16px 60px;
    height: 607px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
  }
}

.news-section .news-contents {
  width: 86.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 5px 12px #3E3E3E;
          box-shadow: 0px 5px 12px #3E3E3E;
  padding: 60px 50px 40px;
}

@media screen and (max-width: 767px) {
  .news-section .news-contents {
    padding: 40px 0 40px;
    width: 92%;
    position: absolute;
    top: -40px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.news-section .news-contents h3 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .news-section .news-contents h3 {
    font-size: 30px;
    margin-bottom: 40px;
  }
}

.news-section .news-contents .news-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  border-top: solid 2px #F3F3F3;
  padding: 37px 80px 37px 9.5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media screen and (max-width: 767px) {
  .news-section .news-contents .news-content {
    display: block;
    padding: 16px 47px 16px 16px;
  }
}

.news-section .news-contents .news-content:hover {
  background-color: #ECF0FF;
}

.news-section .news-contents .news-content:after {
  content: "\f054";
  font-family: "Font Awesome 5 Free";
  position: absolute;
  font-weight: 600;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 6px;
  font-size: 26px;
}

@media screen and (max-width: 767px) {
  .news-section .news-contents .news-content:after {
    right: 10px;
  }
}

.news-section .news-contents .news-content time {
  font-size: 18px;
  color: #3E3E3E;
  white-space: nowrap;
  line-height: 30px;
  margin-right: 60px;
}

@media screen and (max-width: 1104px) {
  .news-section .news-contents .news-content time {
    font-size: 14px;
    margin-right: 20px;
  }
}

.news-section .news-contents .news-content .label {
  border-radius: 50px;
  border: 2px solid #3B69FF;
  background-color: #FFFFFF;
  text-align: center;
  height: 28px;
  margin-right: 60px;
  color: #3E3E3E;
  font-size: 14px;
  width: 125px;
  line-height: 28px;
  white-space: nowrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 1104px) {
  .news-section .news-contents .news-content .label {
    font-size: 12px;
    height: 24px;
    width: 89px;
    line-height: 24px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 767px) {
  .news-section .news-contents .news-content .label {
    display: inline-block;
    margin-bottom: 10px;
  }
}

.news-section .news-contents .news-content .news-title {
  font-size: 18px;
  color: #3E3E3E;
  width: 65%;
}

@media screen and (max-width: 1104px) {
  .news-section .news-contents .news-content .news-title {
    font-size: 14px;
    width: 90%;
  }
}

@media screen and (max-width: 767px) {
  .news-section .news-contents .news-content .news-title {
    width: 100%;
  }
}

.news-section .news-contents .news-content-last {
  margin-bottom: 40px;
  border-bottom: solid 1px #F3F3F3;
}

.news-section .news-contents .more {
  text-align: center;
}

.news-section .news-contents .more a {
  display: inline-block;
  color: #3E3E3E;
  font-size: 20px;
  font-weight: bold;
  height: 64px;
  width: 248px;
  letter-spacing: 4px;
  line-height: 64px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #707070;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media screen and (max-width: 767px) {
  .news-section .news-contents .more a {
    font-size: 18px;
    height: 54px;
    width: 311px;
    letter-spacing: 3.6px;
    line-height: 54px;
  }
}

.news-section .news-contents .more a:hover {
  color: #FFFFFF;
  background-color: #3E3E3E;
}

/*========= service ===========*/
.service-section {
  background-color: #F3F3F3;
  height: 525px;
  position: relative;
}

@media screen and (max-width: 1104px) {
  .service-section {
    height: 928px;
  }
}

.service-section .service-cover {
  height: 400px;
  background-color: #3E3E3E;
}

@media screen and (max-width: 1104px) {
  .service-section .service-cover {
    height: 480px;
  }
}

.service-section .service-cover h3 {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: #FFF;
  padding-top: 80px;
}

@media screen and (max-width: 1104px) {
  .service-section .service-cover h3 {
    padding-top: 40px;
    font-size: 30px;
  }
}

.service-section .service-contents {
  width: 960px;
  margin: 0 auto;
  background-color: #FFFFFF;
  height: 321px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 5px 12px #3E3E3E;
          box-shadow: 0px 5px 12px #3E3E3E;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 60px 48px 56px;
}

@media screen and (max-width: 1104px) {
  .service-section .service-contents {
    width: 92%;
    display: block;
    height: 751px;
    top: 117px;
    padding: 40px 16px;
  }
}

.service-section .service-contents .service-content {
  text-align: center;
  margin-right: 85.5px;
}

@media screen and (max-width: 1104px) {
  .service-section .service-contents .service-content {
    margin-right: 0;
  }
}

.service-section .service-contents .service-content:last-child {
  margin: 0;
}

.service-section .service-contents .service-content .service-image {
  height: 43px;
  width: 50px;
  margin: 0 auto;
}

.service-section .service-contents .service-content h4 {
  font-size: 20px;
  color: #3E3E3E;
  letter-spacing: 4px;
  line-height: 27px;
  margin: 27px 0 20px;
}

@media screen and (max-width: 1104px) {
  .service-section .service-contents .service-content h4 {
    margin: 28px 0 24px;
    font-size: 18px;
    line-height: 23px;
  }
}

.service-section .service-contents .service-content p {
  font-size: 14px;
  color: #3E3E3E;
  width: 231px;
}

@media screen and (max-width: 1104px) {
  .service-section .service-contents .service-content p {
    width: 100%;
    margin-bottom: 65px;
  }
}

/*========= results ===========*/
.results-section {
  height: 962px;
  background-color: #F3F3F3;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .results-section {
    height: 546px;
  }
}

.results-section .results-contents {
  height: 832px;
  background-color: #3E3E3E;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 93%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 80px 0 80px 110px;
}

@media screen and (max-width: 1104px) {
  .results-section .results-contents {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .results-section .results-contents {
    height: 546px;
    padding: 40px 0 40px;
  }
}

.results-section .results-contents h3 {
  color: #FFFFFF;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 80px;
}

@media screen and (max-width: 767px) {
  .results-section .results-contents h3 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 767px) {
  .results-section .results-contents .results-sliders {
    margin-left: 16px;
  }
}

.results-section .results-contents .results-sliders .results-slider {
  width: 600px;
}

.results-section .results-contents .results-sliders .results-slider img {
  margin-right: 100px;
  width: 600px;
  height: 234px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 767px) {
  .results-section .results-contents .results-sliders .results-slider img {
    width: 320px;
    height: 155px;
  }
}

.results-section .results-contents .results-sliders .results-text {
  padding: 20px;
  background-color: #FFFFFF;
  width: 600px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 100px;
}

@media screen and (max-width: 767px) {
  .results-section .results-contents .results-sliders .results-text {
    width: 320px;
    padding: 12px;
  }
}

.results-section .results-contents .results-sliders .results-text h4 {
  font-size: 20px;
  color: #3E3E3E;
  margin-bottom: 20px;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .results-section .results-contents .results-sliders .results-text h4 {
    font-size: 15px;
    margin-bottom: 12px;
  }
}

.results-section .results-contents .results-sliders .results-text p {
  font-size: 16px;
  color: #3E3E3E;
}

@media screen and (max-width: 1104px) {
  .results-section .results-contents .results-sliders .results-text p {
    font-size: 12px;
  }
}

.results-section .results-contents .results-button {
  text-align: center;
  width: 248px;
}

@media screen and (max-width: 767px) {
  .results-section .results-contents .results-button {
    width: 92%;
    margin: 0 auto;
  }
}

.results-section .results-contents .results-button a {
  display: inline-block;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 600;
  height: 64px;
  width: 248px;
  letter-spacing: 4px;
  line-height: 64px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #FFFFFF;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media screen and (max-width: 767px) {
  .results-section .results-contents .results-button a {
    width: 100%;
    height: 54px;
    line-height: 54px;
    font-size: 18pxs;
  }
}

.results-section .results-contents .results-button a:hover {
  color: #FFFFFF;
  background-color: #3E3E3E;
}

/*========= price ===========*/
.price-section {
  height: 555px;
  background-color: #F3F3F3;
  padding-top: 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px solid #F3F3F3;
}

@media screen and (max-width: 767px) {
  .price-section {
    height: 387px;
    padding: 40px 0 60px;
  }
}

.price-section h2 {
  font-size: 36px;
  color: #3E3E3E;
  text-align: center;
  margin-bottom: 80px;
}

@media screen and (max-width: 767px) {
  .price-section h2 {
    margin-bottom: 40px;
    font-size: 30px;
  }
}

.price-section .price-table {
  margin: 0 auto;
  width: 960px;
}

@media screen and (max-width: 1104px) {
  .price-section .price-table {
    width: 92%;
  }
}

.price-section .price-table table {
  width: 960px;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 24px;
}

@media screen and (max-width: 1104px) {
  .price-section .price-table table {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .price-section .price-table table {
    margin-bottom: 14px;
  }
}

.price-section .price-table table tr {
  height: 60px;
  border: 1px solid #707070;
}

.price-section .price-table table tr th {
  background-color: #3E3E3E;
  font-weight: 600;
  color: #FFFFFF;
  font-size: 20px;
}

.price-section .price-table table tr td {
  background-color: #FFFFFF;
  color: #3E3E3E;
  font-weight: 600;
  font-size: 20px;
  padding-left: 30px;
}

@media screen and (max-width: 767px) {
  .price-section .price-table table tr td {
    padding-left: 20px;
  }
}

.price-section .price-table p {
  font-size: 12px;
  color: #3E3E3E;
}

/*========= comments ===========*/
.comments-section {
  height: 746px;
  position: relative;
  background-color: #F3F3F3;
  border-top: 1px solid #F3F3F3;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .comments-section {
    height: 510px;
  }
}

.comments-section .comments-bg {
  background-color: #3E3E3E;
  height: 600px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 980px;
}

@media screen and (max-width: 1104px) {
  .comments-section .comments-bg {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .comments-section .comments-bg {
    height: 450px;
  }
}

.comments-section .comments-contents {
  background-color: #FFFFFF;
  width: 644px;
  height: 616px;
  position: absolute;
  top: 0;
  left: 93px;
  padding: 80px 40px 120px 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 1104px) {
  .comments-section .comments-contents {
    width: 70%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media screen and (max-width: 767px) {
  .comments-section .comments-contents {
    height: 450px;
    padding: 40px 22px 40px 20px;
    width: 92%;
  }
}

.comments-section .comments-contents h2 {
  font-size: 36px;
  font-weight: 600;
  color: #3E3E3E;
  margin-bottom: 80px;
}

@media screen and (max-width: 767px) {
  .comments-section .comments-contents h2 {
    font-size: 30px;
    margin-bottom: 40px;
  }
}

.comments-section .comments-contents .comments-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 80px;
}

@media screen and (max-width: 1104px) {
  .comments-section .comments-contents .comments-content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .comments-section .comments-contents .comments-content {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 30px;
  }
}

.comments-section .comments-contents .comments-content img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-right: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 767px) {
  .comments-section .comments-contents .comments-content img {
    height: 56px;
    width: 56px;
    margin-right: 24px;
  }
}

.comments-section .comments-contents .comments-content p {
  font-size: 16px;
  color: #3E3E3E;
}

@media screen and (max-width: 767px) {
  .comments-section .comments-contents .comments-content p {
    font-size: 14px;
  }
}

.comments-section .comments-image {
  width: 537px;
  height: 450px;
  position: absolute;
  top: 126px;
  left: 737px;
}

.comments-section .comments-image img {
  width: 100%;
}

@media screen and (max-width: 1104px) {
  .comments-section .comments-image {
    display: none;
  }
}

/*========= q and a ===========*/
.qa-section {
  padding-top: 80px;
  background-image: url(../images/qa.jpg);
  background-size: cover;
  background-position: center;
  height: 1065px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .qa-section {
    height: 940px;
    padding-top: 40px;
  }
}

.qa-section h2 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 80px;
  color: #3E3E3E;
  font-weight: 600;
}

@media screen and (max-width: 767px) {
  .qa-section h2 {
    margin-bottom: 40px;
    font-size: 30px;
  }
}

.qa-section .accordion {
  width: 616px;
  margin: 0 109.5px 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 1104px) {
  .qa-section .accordion {
    margin: 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .qa-section .accordion {
    width: 92%;
  }
}

.qa-section .accordion li {
  margin-bottom: 40px;
}

@media screen and (max-width: 767px) {
  .qa-section .accordion li {
    margin-bottom: 30px;
  }
}

.qa-section .accordion li .ac {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  background-color: #FFFFFF;
  padding: 18px 0 20px 17px;
  border-radius: 7px;
  position: relative;
  border-bottom: 2px solid #FFFFFF;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.qa-section .accordion li .ac span {
  color: #FFFFFF;
  background-color: #4973FF;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  line-height: 26px;
  margin: auto 13px auto 0;
}

.qa-section .accordion li .ac p {
  font-size: 16px;
  color: #3E3E3E;
  font-weight: bold;
}

.qa-section .accordion li .ac .line1 {
  display: block;
  background: #4973FF;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 12px;
  width: 15px;
  height: 3px;
  border-radius: 2px;
}

.qa-section .accordion li .ac .line2 {
  display: block;
  background: #4973FF;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 18px;
  width: 3px;
  height: 15px;
  border-radius: 2px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.qa-section .accordion li .ac .line2.open {
  opacity: 0;
}

.qa-section .accordion li .ac.open {
  border-radius: 7px 7px 0 0;
}

.qa-section .accordion li .inner {
  display: none;
  background-color: #FFF;
  padding-bottom: 18px;
  border-radius: 0 0 7px 7px;
  border-top: 2px solid #FFFFFF;
}

.qa-section .accordion li .inner .content {
  width: 580px;
  background-color: #D7E1FF;
  color: #3E3E3E;
  font-size: 16px;
  margin: 0 auto;
  border-radius: 7px;
  padding: 18px 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .qa-section .accordion li .inner .content {
    width: 89%;
  }
}

/*========= access ===========*/
.access-section {
  padding-right: 92px;
  background-color: #F3F3F3;
  height: 775px;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 1104px) {
  .access-section {
    height: 80vw;
    max-height: 760px;
  }
}

@media screen and (max-width: 767px) {
  .access-section {
    height: 153vw;
    max-height: 805px;
  }
}

.access-section .access-contents {
  position: absolute;
  background-color: #3E3E3E;
  height: 580px;
  width: 980px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: 0;
  left: 0;
  padding: 130px 0 0 93px;
}

@media screen and (max-width: 1104px) {
  .access-section .access-contents {
    width: 100%;
    height: 100%;
    padding: 40px 0 40px;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .access-section .access-contents {
    text-align: left;
    padding: 40px 0 40px 16px;
  }
}

.access-section .access-contents h2 {
  color: #FFFFFF;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 40px;
}

@media screen and (max-width: 1104px) {
  .access-section .access-contents h2 {
    font-size: 30px;
  }
}

.access-section .access-contents p {
  color: #FFFFFF;
  font-size: 16px;
  margin-bottom: 40px;
}

@media screen and (max-width: 1104px) {
  .access-section .access-contents p {
    font-size: 12px;
    margin-bottom: 19px;
  }
}

.access-section .access-contents .map {
  position: absolute;
  overflow: hidden;
  top: 130px;
  left: 554px;
  width: 52.7vw;
  height: 37.7vw;
}

@media screen and (max-width: 1104px) {
  .access-section .access-contents .map {
    position: static;
    margin: 0 auto 40px;
  }
}

@media screen and (max-width: 767px) {
  .access-section .access-contents .map {
    margin: 0 0 40px 0;
    width: 91.4vw;
    height: 64.2vw;
  }
}

.access-section .access-contents .map iframe {
  width: 100%;
  height: 100%;
}

.access-section .access-contents a {
  display: inline-block;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  width: 326px;
  height: 64px;
  line-height: 64px;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.access-section .access-contents a:hover {
  background-color: #FFFFFF;
  color: #3E3E3E;
  border: 1px solid #F3F3F3;
}

@media screen and (max-width: 1104px) {
  .access-section .access-contents a {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 767px) {
  .access-section .access-contents a {
    font-size: 18px;
    width: 91.4vw;
    height: 54px;
    line-height: 54px;
  }
}

/*========= Contact ===========*/
.contact-section {
  background-image: url(../images/contacts1.jpg);
  padding: 80px 0 80.5px;
  background-size: cover;
  background-position: center;
  height: 1216px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 1104px) {
  .contact-section {
    padding: 40px 0 40px;
    height: auto;
  }
}

.contact-section .contact-bg {
  background-image: url(../images/contacts2.jpg);
  background-size: cover;
  background-position: center;
  width: 960px;
  height: 200px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  border-radius: 12px 12px 0px 0px;
}

@media screen and (max-width: 1104px) {
  .contact-section .contact-bg {
    width: 80%;
  }
}

@media screen and (max-width: 767px) {
  .contact-section .contact-bg {
    width: 92%;
    height: 160px;
  }
}

.contact-section .contact-bg .contact-bg-contents {
  background-color: rgba(0, 0, 0, 0.6);
  height: 200px;
  padding: 61.5px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 12px 12px 0px 0px;
}

@media screen and (max-width: 767px) {
  .contact-section .contact-bg .contact-bg-contents {
    padding: 32px 16px 36px;
    height: 160px;
  }
}

.contact-section .contact-bg .contact-bg-contents h2 {
  color: #FFFFFF;
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 12px;
}

@media screen and (max-width: 767px) {
  .contact-section .contact-bg .contact-bg-contents h2 {
    font-size: 30px;
    margin-bottom: 10px;
  }
}

.contact-section .contact-bg .contact-bg-contents p {
  color: #FFFFFF;
  font-size: 16px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .contact-section .contact-bg .contact-bg-contents p {
    font-size: 14px;
    text-align: left;
  }
}

.contact-section .contact-items {
  background-color: #FFFFFF;
  color: #3E3E3E;
  margin: 0 auto;
  width: 960px;
  padding: 60px 90px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0 0 12px 12px;
}

@media screen and (max-width: 1104px) {
  .contact-section .contact-items {
    width: 80%;
  }
}

@media screen and (max-width: 767px) {
  .contact-section .contact-items {
    width: 92%;
    padding: 40px 16px;
  }
}

.contact-section .contact-items .contact-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

@media screen and (max-width: 1104px) {
  .contact-section .contact-items .contact-type {
    display: block;
  }
}

@media screen and (max-width: 1104px) {
  .contact-section .contact-items .contact-type .type-header {
    margin-bottom: 10px;
  }
}

.contact-section .contact-items .contact-type .type-header h3 {
  font-size: 22px;
  margin-right: 99px;
}

@media screen and (max-width: 1104px) {
  .contact-section .contact-items .contact-type .type-header h3 {
    margin: 0;
  }
}

@media screen and (max-width: 767px) {
  .contact-section .contact-items .contact-type .type-header h3 {
    font-size: 16px;
  }
}

.contact-section .contact-items .contact-type .type-content select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: transparent url(https://haniwaman.com/wp-content/uploads/2018/12/form-css-arrow.png) no-repeat center right 12px/16px 16px;
  border: 1px solid #707070;
  border-radius: 0;
  color: #3E3E3E;
  cursor: pointer;
  font-family: inherit;
  font-size: 18px;
  padding-left: 20px;
  width: 261px;
  height: 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.contact-section .contact-items .contact-type .type-content select::-ms-expand {
  display: none;
}

.contact-section .contact-items .contact-type .type-content select:focus {
  -webkit-box-shadow: 0 0 3px 1px rgba(73, 115, 255, 0.6);
          box-shadow: 0 0 3px 1px rgba(73, 115, 255, 0.6);
  outline: none;
}

.contact-section .contact-items .contact-type .type-content select:hover {
  -webkit-box-shadow: 0 0 3px 1px rgba(73, 115, 255, 0.6);
          box-shadow: 0 0 3px 1px rgba(73, 115, 255, 0.6);
}

@media screen and (max-width: 1104px) {
  .contact-section .contact-items .contact-type .type-content select {
    width: 100%;
  }
}

.contact-section .contact-items .contact-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

@media screen and (max-width: 1104px) {
  .contact-section .contact-items .contact-name {
    display: block;
  }
}

.contact-section .contact-items .contact-name .name-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 80px;
}

.contact-section .contact-items .contact-name .name-header .name-header-h3-1 {
  font-size: 22px;
  color: #3E3E3E;
  margin-right: 96px;
}

@media screen and (max-width: 767px) {
  .contact-section .contact-items .contact-name .name-header .name-header-h3-1 {
    font-size: 16px;
    margin-right: 20px;
  }
}

.contact-section .contact-items .contact-name .name-header .name-header-h3-2 {
  font-size: 22px;
  color: #3E3E3E;
  margin-right: 52px;
}

@media screen and (max-width: 767px) {
  .contact-section .contact-items .contact-name .name-header .name-header-h3-2 {
    font-size: 16px;
    margin-right: 20px;
  }
}

.contact-section .contact-items .contact-name .name-header p {
  display: inline-block;
  background-color: #FF4646;
  font-size: 16px;
  color: #FFFFFF;
  border-radius: 5px;
  text-align: center;
  width: 55px;
  height: 24px;
}

@media screen and (max-width: 767px) {
  .contact-section .contact-items .contact-name .name-header p {
    font-size: 14px;
    width: 50px;
    height: 22px;
  }
}

.contact-section .contact-items .contact-name .name-content input {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  background-image: none;
  border-bottom: 1px solid #707070;
  border-right: none;
  border-left: none;
  border-top: none;
  border-radius: 0;
  font-family: inherit;
  font-size: 22px;
  color: #3E3E3E;
  width: 505px;
  height: 29.5px;
  padding-left: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.contact-section .contact-items .contact-name .name-content input:focus {
  -webkit-box-shadow: 0 3px 6px -6px rgba(73, 115, 255, 0.6);
          box-shadow: 0 3px 6px -6px rgba(73, 115, 255, 0.6);
  border-bottom: 1px solid #4973FF;
  outline: none;
}

.contact-section .contact-items .contact-name .name-content input:hover {
  -webkit-box-shadow: 0 3px 6px -6px rgba(73, 115, 255, 0.6);
          box-shadow: 0 3px 6px -6px rgba(73, 115, 255, 0.6);
  border-bottom: 1px solid #4973FF;
}

.contact-section .contact-items .contact-name .name-content input::-webkit-input-placeholder {
  color: #CCCCCC;
}

.contact-section .contact-items .contact-name .name-content input:-ms-input-placeholder {
  color: #CCCCCC;
}

.contact-section .contact-items .contact-name .name-content input::-ms-input-placeholder {
  color: #CCCCCC;
}

.contact-section .contact-items .contact-name .name-content input::placeholder {
  color: #CCCCCC;
}

@media screen and (max-width: 1104px) {
  .contact-section .contact-items .contact-name .name-content input {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .contact-section .contact-items .contact-name .name-content input {
    font-size: 16px;
  }
}

.contact-section .contact-items .contact-mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

@media screen and (max-width: 1104px) {
  .contact-section .contact-items .contact-mail {
    display: block;
  }
}

.contact-section .contact-items .contact-mail h3 {
  font-size: 22px;
  color: #3E3E3E;
  margin-right: 121px;
}

@media screen and (max-width: 767px) {
  .contact-section .contact-items .contact-mail h3 {
    font-size: 16px;
  }
}

.contact-section .contact-items .contact-mail .mail-content input {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  background-image: none;
  border-bottom: 1px solid #707070;
  border-right: none;
  border-left: none;
  border-top: none;
  border-radius: 0;
  font-family: inherit;
  font-size: 22px;
  color: #3E3E3E;
  width: 505px;
  height: 28.5px;
  padding-left: 9px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contact-section .contact-items .contact-mail .mail-content input:focus {
  -webkit-box-shadow: 0 3px 6px -6px rgba(73, 115, 255, 0.6);
          box-shadow: 0 3px 6px -6px rgba(73, 115, 255, 0.6);
  border-bottom: 1px solid #4973FF;
  outline: none;
}

.contact-section .contact-items .contact-mail .mail-content input:hover {
  -webkit-box-shadow: 0 3px 6px -6px rgba(73, 115, 255, 0.6);
          box-shadow: 0 3px 6px -6px rgba(73, 115, 255, 0.6);
  border-bottom: 1px solid #4973FF;
}

.contact-section .contact-items .contact-mail .mail-content input::-webkit-input-placeholder {
  color: #CCCCCC;
}

.contact-section .contact-items .contact-mail .mail-content input:-ms-input-placeholder {
  color: #CCCCCC;
}

.contact-section .contact-items .contact-mail .mail-content input::-ms-input-placeholder {
  color: #CCCCCC;
}

.contact-section .contact-items .contact-mail .mail-content input::placeholder {
  color: #CCCCCC;
}

@media screen and (max-width: 1104px) {
  .contact-section .contact-items .contact-mail .mail-content input {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .contact-section .contact-items .contact-mail .mail-content input {
    font-size: 16px;
  }
}

.contact-section .contact-items .contact-radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

@media screen and (max-width: 1104px) {
  .contact-section .contact-items .contact-radio {
    display: block;
  }
}

.contact-section .contact-items .contact-radio h3 {
  font-size: 22px;
  color: #3E3E3E;
  margin-right: 231px;
}

@media screen and (max-width: 767px) {
  .contact-section .contact-items .contact-radio h3 {
    font-size: 16px;
    margin-bottom: 10px;
  }
}

.contact-section .contact-items .contact-radio .radio-content label:first-child span {
  margin: 0;
}

.contact-section .contact-items .contact-radio .radio-content input {
  display: none;
}

.contact-section .contact-items .contact-radio .radio-content input + span {
  cursor: pointer;
  display: inline-block;
  margin: 0 0 0 60px;
  padding: 0 0 0 27px;
  position: relative;
  font-size: 22px;
  color: #3E3E3E;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media screen and (max-width: 767px) {
  .contact-section .contact-items .contact-radio .radio-content input + span {
    font-size: 16px;
    margin: 0 0 0 90px;
  }
}

.contact-section .contact-items .contact-radio .radio-content input + span::before {
  -webkit-transform: translateY(-50%);
  background: #fff;
  border: 1px solid #3E3E3E;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  content: "";
  display: block;
  height: 12px;
  width: 12px;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.contact-section .contact-items .contact-radio .radio-content input + span:hover:before {
  -webkit-box-shadow: 0 0 3px 1px rgba(73, 115, 255, 0.6);
          box-shadow: 0 0 3px 1px rgba(73, 115, 255, 0.6);
  border: 1px solid #4973FF;
}

.contact-section .contact-items .contact-radio .radio-content input + span:active:before {
  background-color: #D1D9F5;
}

.contact-section .contact-items .contact-radio .radio-content input + span::after {
  -webkit-transform: translateY(-50%);
  background: #4973FF;
  border: 1px solid transparent;
  border-radius: 50%;
  content: "";
  height: 6px;
  left: 3px;
  opacity: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 6px;
}

.contact-section .contact-items .contact-radio .radio-content input:checked + span::after {
  opacity: 1;
}

.contact-section .contact-items .contact-text {
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .contact-section .contact-items .contact-text {
    margin-bottom: 20px;
  }
}

.contact-section .contact-items .contact-text h3 {
  font-size: 22px;
  color: #3E3E3E;
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .contact-section .contact-items .contact-text h3 {
    font-size: 16px;
  }
}

.contact-section .contact-items .contact-text .text-content textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  background-image: none;
  border: 1px solid #707070;
  border-radius: 0;
  color: #3E3E3E;
  font-family: inherit;
  font-size: 16px;
  height: 213px;
  width: 100%;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media screen and (max-width: 767px) {
  .contact-section .contact-items .contact-text .text-content textarea {
    height: 160px;
  }
}

.contact-section .contact-items .contact-text .text-content textarea:hover {
  -webkit-box-shadow: 0 0 1px 1px rgba(73, 115, 255, 0.6);
          box-shadow: 0 0 1px 1px rgba(73, 115, 255, 0.6);
  border: 1px solid rgba(73, 115, 255, 0.6);
}

.contact-section .contact-items .contact-text .text-content textarea:focus {
  -webkit-box-shadow: 0 0 1px 1px rgba(73, 115, 255, 0.6);
          box-shadow: 0 0 1px 1px rgba(73, 115, 255, 0.6);
  border: 1px solid rgba(73, 115, 255, 0.6);
  outline: none;
}

.contact-section .contact-items .contact-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .contact-section .contact-items .contact-check {
    margin-bottom: 20.5px;
  }
}

.contact-section .contact-items .contact-check label input {
  display: none;
}

.contact-section .contact-items .contact-check label input + span {
  cursor: pointer;
  display: inline-block;
  margin-right: 21px;
  padding: 0 0 0 1.2em;
  position: relative;
}

.contact-section .contact-items .contact-check label input + span::before {
  -webkit-transform: translateY(-50%);
  background: #fff;
  border: 1px solid #707070;
  content: "";
  display: block;
  height: 20px;
  top: 50%;
  left: 0;
  position: absolute;
  transform: translateY(-50%);
  width: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media screen and (max-width: 767px) {
  .contact-section .contact-items .contact-check label input + span::before {
    height: 18px;
    width: 18px;
    top: -2px;
  }
}

.contact-section .contact-items .contact-check label input + span:hover:before {
  -webkit-box-shadow: 0 0 3px 1px rgba(73, 115, 255, 0.6);
          box-shadow: 0 0 3px 1px rgba(73, 115, 255, 0.6);
  border: 1px solid #4973FF;
}

.contact-section .contact-items .contact-check label input + span:active:before {
  background-color: #D1D9F5;
}

.contact-section .contact-items .contact-check label input + span::after {
  -webkit-transform: translateY(-50%) rotate(-45deg);
  border-bottom: 2.4px solid #4973FF;
  border-left: 2.4px solid #4973FF;
  content: "";
  display: block;
  height: 0.4em;
  left: 2px;
  margin-top: -0.2em;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 0.8em;
}

@media screen and (max-width: 767px) {
  .contact-section .contact-items .contact-check label input + span::after {
    top: -2px;
  }
}

.contact-section .contact-items .contact-check label input:checked + span::after {
  opacity: 1;
}

.contact-section .contact-items .contact-check p {
  font-size: 18px;
  color: #3E3E3E;
}

@media screen and (max-width: 767px) {
  .contact-section .contact-items .contact-check p {
    font-size: 16px;
  }
}

.contact-section .contact-items .contact-submit {
  position: relative;
}

@media screen and (max-width: 767px) {
  .contact-section .contact-items .contact-submit {
    text-align: center;
  }
}

.contact-section .contact-items .contact-submit input {
  -webkit-appearance: none;
  background-color: #FFAA3B;
  background-image: none;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  width: 174px;
  height: 50px;
  text-decoration: none;
  border-radius: 10px;
  -webkit-box-shadow: 0px 3px 5px #CCC;
          box-shadow: 0px 3px 5px #CCC;
  font-family: "游ゴシック", "Yu Gothic", YuGothic, "游ゴシック体", sans-serif;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media screen and (max-width: 767px) {
  .contact-section .contact-items .contact-submit input {
    width: 121px;
  }
}

.contact-section .contact-items .contact-submit input:hover {
  background-color: #F18900;
}

.contact-section .contact-items .contact-submit input:hover,
.contact-section .contact-items .contact-submit input:focus {
  outline: none;
}

.contact-section .contact-items .contact-submit input::-moz-focus-inner {
  border: none;
  padding: 0;
}

/*========= Footer ===========*/
.footer-section {
  padding: 120px 93px 119.5px;
  background-color: #3E3E3E;
  position: relative;
  height: 424.5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .footer-section {
    padding: 60px 39px 92px 32px;
  }
}

.footer-section .footer-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .footer-section .footer-contents {
    display: block;
    text-align: center;
  }
}

.footer-section .footer-contents .footer-left .footer-sns {
  margin-bottom: 40px;
}

.footer-section .footer-contents .footer-left .footer-sns a {
  color: #B1B1B1;
  font-size: 36px;
}

.footer-section .footer-contents .footer-left .footer-sns .twitter {
  margin-right: 20px;
}

@media screen and (max-width: 767px) {
  .footer-section .footer-contents .footer-left .footer-sns .twitter {
    margin-right: 132px;
  }
}

@media screen and (max-width: 767px) {
  .footer-section .footer-contents .footer-left .footer-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer-section .footer-contents .footer-left .footer-link div {
  margin-bottom: 20px;
}

.footer-section .footer-contents .footer-left .footer-link div a {
  font-size: 18px;
  color: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .footer-section .footer-contents .footer-left .footer-link div a {
    font-size: 14px;
  }
}

.footer-section .footer-contents .footer-left .footer-link div a:hover {
  border-bottom: solid 1.5px #747474;
}

@media screen and (max-width: 767px) {
  .footer-section .footer-contents .footer-left .footer-link .site-map {
    margin-right: 68px;
  }
}

@media screen and (max-width: 767px) {
  .footer-section .footer-contents .footer-left .footer-privacy {
    margin-bottom: 55px;
  }
}

.footer-section .footer-contents .footer-left .footer-privacy a {
  font-size: 18px;
  color: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .footer-section .footer-contents .footer-left .footer-privacy a {
    font-size: 14px;
  }
}

.footer-section .footer-contents .footer-left .footer-privacy a:hover {
  border-bottom: solid 1.5px #747474;
}

.footer-section .footer-contents .footer-right {
  text-align: right;
}

@media screen and (max-width: 767px) {
  .footer-section .footer-contents .footer-right {
    text-align: center;
  }
}

.footer-section .footer-contents .footer-right h2 {
  font-size: 44px;
  color: #E3E3E3;
  margin-bottom: 18px;
  font-family: sans-serif;
  font-weight: 100;
}

@media screen and (max-width: 1104px) {
  .footer-section .footer-contents .footer-right h2 {
    font-size: 32px;
  }
}

@media screen and (max-width: 767px) {
  .footer-section .footer-contents .footer-right h2 {
    margin-bottom: 8px;
  }
}

.footer-section .footer-contents .footer-right p {
  font-size: 12px;
  color: #FFFFFF;
  opacity: 0.6;
}

.footer-section .back-to-top a {
  position: absolute;
  right: 93px;
  bottom: 38.5px;
  background-color: #D8D8D8;
  height: 50px;
  width: 50px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .footer-section .back-to-top a {
    right: 16px;
    bottom: 16px;
  }
}

.footer-section .back-to-top a i {
  color: #3E3E3E;
  font-size: 32px;
  line-height: 50px;
}
/*# sourceMappingURL=style.css.map */