@charset "UTF-8";
/*========= base ===========*/
html {
  margin: 0;
  padding: 0;
  scroll-padding-top: 60px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', "游ゴシック", "Yu Gothic", YuGothic, "游ゴシック体", sans-serif;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

ul, li, dl, dt, dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

/*========= drawer ===========*/
.drawer-hamburger {
  margin: 0 18px 0 0;
  padding: 0 !important;
  position: fixed;
  top: 80px;
  right: 18px;
}

.drawer-hamburger .hamburger {
  display: none;
  position: relative;
  width: 50px;
  height: 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .drawer-hamburger .hamburger {
    display: block;
  }
}

.drawer-hamburger span {
  display: block;
  width: 32px;
  height: 4px;
  background: #3E3E3E;
  position: absolute;
  left: 4px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.drawer-hamburger .bar1 {
  top: 27px;
}

.drawer-hamburger .bar2 {
  top: 38px;
}

.drawer-hamburger .bar3 {
  bottom: 27px;
}

.drawer-hamburger .bar1.open {
  top: 38px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.drawer-hamburger .bar2.open {
  opacity: 0;
}

.drawer-hamburger .bar3.open {
  top: 38px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.drawer-nav {
  width: 200px !important;
  z-index: 3;
}

.drawer-nav li {
  border-bottom: 1px dotted #707070;
  position: relative;
}

.drawer-nav a {
  text-decoration: none;
  font-size: 16px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #707070;
  padding: 13px 0 12px 20px;
}

.drawer-nav a:hover {
  opacity: 0.6;
}

.drawer-nav a:after {
  position: absolute;
  content: '\f054';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #707070;
  top: 19px;
  left: 180px;
  font-size: 12px;
}

.drawer-overlay {
  background-color: rgba(0, 0, 0, 0.8) !important;
}

.drawer--right.drawer-open .drawer-hamburger {
  right: 200px !important;
}

/*========= header ===========*/
.header-section.open {
  z-index: 1;
}

.header-section {
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header-section .inner {
  height: 80px;
  line-height: 80px;
}

@media screen and (max-width: 767px) {
  .header-section .inner .nav-bar {
    display: none;
  }
}

.header-section .inner .nav-bar .nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-section .inner .nav-bar .nav-items li {
  margin-right: 28px;
}

.header-section .inner .nav-bar .nav-items li:last-child {
  margin: 0;
}

.header-section .inner .nav-bar .nav-items a {
  color: #3E3E3E;
  font-size: 16px;
  padding: 0 6px 3px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header-section .inner .nav-bar .nav-items a:hover {
  border-bottom: solid 1.5px #3E3E3E;
}

.header-section .inner .nav-bar .clicked {
  border-bottom: solid 2px #FF4646;
}
/*# sourceMappingURL=style.css.map */